etc/etc/HOMEBREW.cfg
OSX/subl/Library/Application Support/Sublime Text 3/Cache/
OSX/subl/Library/Application Support/Sublime Text 3/Local/
OSX/subl/Library/Application Support/Sublime Text 3/Backup/
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Colorsublime.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Comments Aware Enter.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/JavaScript & NodeJS Snippets.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Ledger syntax highlighting.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Markdown Preview.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/PostScript.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Restructured Text (RST) Snippets.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Whitespace.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/Wrap Plus.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Installed Packages/fish-shell.sublime-package
OSX/subl/Library/Application Support/Sublime Text 3/Packages/User/Package Control.cache/
OSX/subl/Library/Application Support/Sublime Text 3/Packages/User/Package Control.last-run
OSX/subl/Library/Application Support/Sublime Text 3/Packages/User/Package Control.merged-ca-bundle
OSX/subl/Library/Application Support/Sublime Text 3/Packages/User/Package Control.system-ca-bundle
OSX/subl/Library/Application Support/Sublime Text 3/Packages/User/Package Control.user-ca-bundle
OSX/subl/Library/Application Support/Sublime Text 3/Packages/bz2/
OSX/subl/Library/Application Support/Sublime Text 3/Packages/pygments/
OSX/subl/Library/Application Support/Sublime Text 3/Packages/pyyaml/
universal/micro/.config/micro/buffers
lib/system-specific
lib/configs/SYSTEM_SPECIFIC.CFG
