[submodule "universal/bin/bin/SortPhotos"]
	path = universal/bin/bin/SortPhotos
	url = https://github.com/andrewning/sortphotos
[submodule "3rdparty/zsh-autosuggestions"]
	path = 3rdparty/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "3rdparty/fast-syntax-highlighting"]
	path = 3rdparty/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
