[submodule "universal/bin/bin/SortPhotos"]
	path = universal/bin/bin/SortPhotos
	url = https://github.com/andrewning/sortphotos
[submodule "3rdparty/zsh-autosuggestions"]
	path = 3rdparty/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "3rdparty/fast-syntax-highlighting"]
	path = 3rdparty/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "3rdparty/shelldoc"]
	path = 3rdparty/shelldoc
	url = https://github.com/charlesdaniels/shelldoc.git
[submodule "3rdparty/bitshuffle"]
	path = 3rdparty/bitshuffle
	url = https://github.com/charlesdaniels/bitshuffle.git
[submodule "3rdparty/list-desktop-files"]
	path = 3rdparty/list-desktop-files
	url = https://github.com/AndyCrowd/list-desktop-files
[submodule "3rdparty/sanoid"]
	path = 3rdparty/sanoid
	url = https://github.com/jimsalterjrs/sanoid
[submodule "3rdparty/minos-static"]
	path = 3rdparty/minos-static
	url = https://github.com/minos-org/minos-static.git
[submodule "3rdparty/scientifica"]
	path = 3rdparty/scientifica
	url = https://github.com/nerdypepper/scientifica
[submodule "3rdparty/herc-tools-public"]
	path = 3rdparty/herc-tools-public
	url = https://github.com/charlesdaniels/herc-tools-public.git
[submodule "3rdparty/qstats"]
	path = 3rdparty/qstats
	url = https://github.com/tonyfischetti/qstats
[submodule "3rdparty/zsh-abbr-path"]
	path = 3rdparty/zsh-abbr-path
	url = https://github.com/felixgravila/zsh-abbr-path
[submodule "3rdparty/k"]
	path = 3rdparty/k
	url = https://github.com/supercrabtree/k
[submodule "3rdparty/latexrun"]
	path = 3rdparty/latexrun
	url = https://github.com/aclements/latexrun.git
[submodule "3rdparty/makefile2graph"]
	path = 3rdparty/makefile2graph
	url = https://github.com/lindenb/makefile2graph.git
