[Unit]
Description=screen_lock
Before=sleep.target

[Service]
User=cad
Type=forking
Environment=DISPLAY=:0
ExecStart=/opt/net.cdaniels/bin/system-lock

[Install]
WantedBy=sleep.target
