[Unit]
Description=screen_lock
Before=sleep.target

[Service]
User=root
Type=forking
Environment=DISPLAY=:0
ExecStart=/opt/net.cdaniels/bin/system-lock
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lockscreen

[Install]
WantedBy=sleep.target
