! red cursor
URxvt*cursorColor:       #ad0808

! use GohuFont
URxvt.font: xft:gohufont:pixelsize=13

! disable scrollbar in URxvt
URxvt.scrollBar: false


! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
urxvt*background: #282828
! soft contrast: *background: #32302f
urxvt*foreground: #ebdbb2
! Black + DarkGrey
urxvt*color0:  #282828
urxvt*color8:  #928374
! DarkRed + Red
urxvt*color1:  #cc241d
urxvt*color9:  #fb4934
! DarkGreen + Green
urxvt*color2:  #98971a
urxvt*color10: #b8bb26
! DarkYellow + Yellow
urxvt*color3:  #d79921
urxvt*color11: #fabd2f
! DarkBlue + Blue
urxvt*color4:  #458588
urxvt*color12: #83a598
! DarkMagenta + Magenta
urxvt*color5:  #b16286
urxvt*color13: #d3869b
! DarkCyan + Cyan
urxvt*color6:  #689d6a
urxvt*color14: #8ec07c
! LightGrey + White
urxvt*color7:  #a89984
urxvt*color15: #ebdbb2
