! ==== xidle ==================================================================
! lock after 20 seconds in bottom left corner
xidle*position : sw
xidle*delay    : 20
! lock after 5 minute
xidle*timeout  : 300

! ==== xlock ==================================================================
xlock.description : off
xlock.echokeys    : off
xlock.info        :
xlock.background  : black
xlock.foreground  : white
xlock.mode        : blank
xlock.username    :
xlock.password    :

! ==== xclock =================================================================
XClock*analog      : false
XClock*twentyfour  : true
XClock*padding     : 2
XClock*geometry    : -2-2
XClock*render      : false
XClock*height      : 28
XClock*background  : dimgray
XClock*foreground  : white
XClock*borderWidth : 0
