! red cursor
URxvt*cursorColor:       #ad0808

! use GohuFont
urxvt*font: xft:gohu gohufont:size=11:antialias=true,\
            -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*boldFont: xft:gohu gohufont:size=11:antialias=true

! disable scrollbar in URxvt
URxvt.scrollBar: false

